.card {
    background-color: #f0feff;
    color: black;
    font-family: Lato, sans-serif;
    margin: auto;
    text-align: left;
    padding: 15px 20px 20px 15px;
    width: 50%;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}

a, a:hover, a:active {
    color: #1DA1F2;
    text-decoration: none;
    border: none;
}

ion-icon{
    text-align: center;
    font-size: 64px;
    color: black;
    text-decoration: none;
    border: none;
    font-weight: bold;
    margin: 0;
}

@media only screen and (max-width: 1024px) {
    .card {
        width: 80%;
    }
}
